In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("spam.csv")

In [3]:
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
df.isnull().sum()

Category    0
Message     0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  5572 non-null   object
 1   Message   5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [9]:
df["Category"].unique()

array(['ham', 'spam'], dtype=object)

In [10]:
df["Category"].value_counts()

Category
ham     4825
spam     747
Name: count, dtype: int64

In [11]:
df["Message"][0]

'Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...'

In [16]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB

X_train , X_test , y_train , y_test = train_test_split(df.Message , df.Category , test_size = 0.2 , random_state = 42)

In [17]:
#have to convert the text into into numerical
from sklearn.feature_extraction.text import CountVectorizer

v = CountVectorizer()

X_train_vectorized  = v.fit_transform(X_train)
X_test_vactorized  = v.transform(X_test)

In [21]:
bayes_model  = MultinomialNB()

bayes_model.fit(X_train_vectorized , y_train)

bayes_model.score(X_test_vactorized , y_test)

0.9919282511210762